<% if object.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-danger">
			The Form contains <%= pluralize(object.errors.count, "error") %>.
		</div>
		<ul>
			<% object.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>